{% extends "::admin/navbar.html.twig" %}
{% block task %}
<tr>
								<td><span class="status status-success item-before"></span> <a href="#">Frontpage fixes</a></td>
								<td><span class="text-smaller text-semibold">Bugs</span></td>
								<td class="text-center"><span class="label label-success">87%</span></td>
							</tr>
                                                        {% endblock %}
                                                        
                                                        
                                                        